# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# Node
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
*.swp
*.swo
*.bak

# Env files
.env
.env.*

# Frontend
knowledge-mining-visualization/node_modules/
knowledge-mining-visualization/dist/

data_simplified.txt